//************** header clickslogic **************//

- rutaImagenes ='../../../imagenes'
- pestaniaUno='Afiliate'
- pestaniaDos='Recarga'
- pestaniaTres='Descargar Comprobante'
- pestaniaCuatro='Personas'
- pestaniaCinco='Empresas'
- pestaniaSeis='Inciar Sesión'
div(class="Contenedor-NavegacionMenu")
	div(class="sinPaddinBosstrap")
		div(class="col-xs-6 col-sm-6 col-md-6 sinPaddinBosstrap")
			div(class="MTS-header inline-block")
				div(class="MTS-header-first-bloque")
					div(class="mts-title") MTS
					div(class="mts-circulos")
						div(class="circle-top")
							div(class="circle-1-4 circle-clickslogic inline-block")
								span(class="caurto-circle circle-izq-top")
								span(class="caurto-circle circle-right-top circle-part-white")
								span(class="caurto-circle circle-izq-bottom")
								span(class="caurto-circle circle-1-4-right-bottom")
							div(class="circle-1-2 circle-clickslogic inline-block")
								span(class="caurto-circle circle-izq-top")
								span(class="caurto-circle circle-right-top circle-part-white")
								span(class="caurto-circle circle-izq-bottom")
								span(class="caurto-circle circle-right-bottom circle-part-white")
						div(class="circle-bottom")
							div(class="circle-3-4 circle-clickslogic inline-block")
								span(class="caurto-circle circle-izq-top")
								span(class="caurto-circle circle-right-top circle-part-white")
								span(class="caurto-circle circle-izq-bottom circle-part-white")
								span(class="caurto-circle circle-right-bottom circle-part-white")
							div(class="circle-1 circle-clickslogic inline-block")
								span(class="caurto-circle circle-izq-top circle-part-white")
								span(class="caurto-circle circle-right-top circle-part-white")
								span(class="caurto-circle circle-izq-bottom circle-part-white")
								span(class="caurto-circle circle-right-bottom circle-part-white")
				div(class="mts-txt") Media Transformation Scorecard
		div(class="col-xs-6 col-sm-6 col-md-6 sinPaddinBosstrap")
			div(class="cuadro-orange")
				div(class="img-clicks-logic")					
					img(src=rutaImagenes+"/logo.png")
	//A navegacion menu ponle display block para tener tu navegacion
	nav(class="Navegacion-Menu")
		ul
			li(class="li-active")
				a(class="active" href="/nosotros")=pestaniaUno
			li 
				a=pestaniaDos
			li 
				a=pestaniaTres
			li 
				a=pestaniaCuatro
			li 
				a=pestaniaCinco
			li 
				a=pestaniaSeis
	// A Boton-Movil ponle display block
	div(class="Boton-Movil")
		i(class="fa fa-angle-double-down")
nav(class="Navegacion-Menu-Movil")
	ul
			li 
				a=pestaniaUno
			li 
				a=pestaniaDos
			li 
				a=pestaniaTres
			li 
				a=pestaniaCuatro
			li 
				a=pestaniaCinco
			li 
				a=pestaniaSeis


//************** header clickslogic **************//
